.nav-title {
    color: white;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.coordinate-form {
    margin-top: 100px;
}

.vertical-center {
    align-items: center;
}

img {
    display: none;
}

img[src] {
   display: block;
 }